POSTGRES_DB=wallet
POSTGRES_USER=wallet
POSTGRES_PASSWORD=wallet
POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:5173
DJANGO_SETTINGS_MODULE=config.settings
API_PORT=8000
DJANGO_LOG_LEVEL=INFO
DJANGO_LOG_DIR=/var/log/securewallet
DJANGO_APP_LOG_FILE=securewallet.app.jsonl
DJANGO_AUDIT_LOG_FILE=securewallet.audit.jsonl
LOGGER=securewallet

AUDIT_HMAC_SECRET=change-me-too
TRANSACTION_HMAC_SECRET=change-me-too

WAZUH_VERSION=4.14.5
WAZUH_CERT_TOOL_VERSION=4.14
WAZUH_DASHBOARD_PORT=8443
WAZUH_API_PORT=55000
WAZUH_INDEXER_PORT=9200
WAZUH_AGENT_NAME=securewallet-host
WAZUH_INDEXER_USERNAME=admin
WAZUH_INDEXER_PASSWORD=SecretPassword
WAZUH_DASHBOARD_USERNAME=kibanaserver
WAZUH_DASHBOARD_PASSWORD=kibanaserver
WAZUH_API_USERNAME=wazuh-wui
WAZUH_API_PASSWORD=MyS3cr37P450r.*-
